<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRLINE</title>
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="./tin_tuc.css">
    <link rel="stylesheet" href="./TTTH.css">
    <link rel="stylesheet" href="./tintuc1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<div id="floating-icons">
    <a href="#" class="icon" id="dn"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
    <a href="#" class="icon" id="dk"><i class="fas fa-user-plus"></i> Đăng kí</a>
</div>
<script>
document.addEventListener('mousemove', function(e) {
    var floatingIcons = document.getElementById('floating-icons');
    if (e.clientX > floatingIcons.offsetLeft && e.clientY > floatingIcons.offsetTop &&
        e.clientX < (floatingIcons.offsetLeft + floatingIcons.offsetWidth) &&
        e.clientY < (floatingIcons.offsetTop + floatingIcons.offsetHeight)) {
      floatingIcons.style.transform = 'translate(0, -50%) translateY(-10px)';
    } else {
      floatingIcons.style.transform = 'translate(0, -50%)';
    }
  });
</script> 
<script>
    document.getElementById("dn").addEventListener("click", function() {
        window.location.href = "formDN.html";
    });
    document.getElementById("dk").addEventListener("click", function() {
        window.location.href = "formDK.html";
    });
</script>
<body>
    <header>
        <div class="logo">
            <a href=""><img src="../img/logo_nosub.svg" alt=""></a>
        </div>
        <div class="menu">
            <ul class="ul_menu">
                <li class="li_menu"><a class="menu_link" href="">Trang chủ</a></li>
                <li class="li_menu"><a class="menu_link" href="">Vé nội địa</a></li>
                <li class="li_menu"><a class="menu_link" href="">Vé quốc tế</a></li>
                <li class="li_menu"><a class="menu_link" href="">Thông tin hãng</a></li>
                <li class="li_menu"><a class="menu_link" href="">Tin tức</a></li>
            </ul>
        </div>
        <div class="contact">
            <div class="icon_contact">
                <i style="color: #ffc43b; font-size: 3rem;" class="fas fa-phone-square-alt"></i>
            </div>
            <div class="hotline">
                <span>HotLine tư vấn toàn quốc</span>
                <span class="number">1900 4798</span>
            </div>
        </div>
    </header>
    <div class="banner">
        <a href=""><img src="../img/Doi-ve-may-bay.png" alt=""></a>
    </div>
    <main>
        
        <h1> <br> Tin tức</h1>
        <div class="news">
            <div class="news-container">
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/05/vietnam-airlines-mo-duong-bay-thang-den-an-do-10052023-2.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/vietnam-airlines-khai-truong-nhieu-duong-bay-thang-den-an-do.html">Vietnam Airlines khai trương nhiều</a></div>
                        <div class="news-desc">Từ ngày 20/5/2023, Vietnam Airlines chính thức mở hai đường bay</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2017/12/ve-may-bay-saigon-di-bangkok-06052023-6.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/ve-may-bay-tu-tphcm-di-bangkok.html"> Săn vé máy bay từ Tp HCM đi Bangkok</a> </div>
                        <div class="news-desc">Sở hữu trong tay tấm vé máy bay từ Hà Nội đi Bangkok là bạn đã có thể vi
                            vu đến thủ đô xinh đẹp của xứ sở Chùa Vàng, nơi có những</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2017/12/ve-may-bay-hanoi-di-bangkok-05052023-1.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/ve-may-bay-tu-ha-noi-di-bangkok.html"> Đặt vé máy bay từ Hà Nội đi Bangkok khứ hồi giá rẻ</a></div>
                        <div class="news-desc">Sở hữu trong tay tấm vé máy bay từ Hà Nội đi Bangkok là bạn đã có thể vi
                            vu đến thủ đô xinh đẹp của xứ sở Chùa Vàng, nơi có những</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2021/10/ve-may-bay-tu-tphcm-di-dong-hoi-26042023-5.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/ve-may-bay-tu-tphcm-di-dong-hoi.html"> Đặt vé máy bay từ Tp Hồ Chí Minh đi Đồng Hới giá rẻ</a></div>
                        <div class="news-desc">Ưu đãi hấp dẫn hàng tháng dành cho hành khách săn vé máy bay từ TpHCM đi Đồng Hới, giá</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2021/02/kinh-nghiem-du-lich-nha-trang-tet-nguyen-dan-5-2-2021-2.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/thoi-tiet-quy-nhon-thang-4.html">Thời tiết Quy Nhơn tháng 4?Có nên đi du lịch Quy Nhơn tháng 4?</a></div>
                        <div class="news-desc">Mùa hè đã cận kề, là thời điểm thích hợp để mọi người lên kế hoạch cho</div>
                    </div>
                </div>
                <!--
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/04/di-da-lat-mac-gi-thang-4-800x550.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <Du class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/du-lich-da-lat-thang-4-nen-mac-gi.html">Du lịch Đà Lạt tháng 4 nên mặc gì?Lưu ý gì về thời tiết?</a> </div>
                        <div class="news-desc">Thời tiết Đà Lạt tháng 4 rất dễ chịu và đây cũng là tháng Đà Lạt có nhiều cánh đồng hoa nhất. </div>
                    </div>
                </div>
                -->
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/04/Bai-sao-Phu-Quoc.jpg"
                            alt="">
                    </div>
        
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/thoi-tiet-phu-quoc-thang-4.html">Thời tiết Phú Quốc tháng 4 có gì cuốn hút?</a></div>
                        <div class="news-desc">Phú Quốc Tháng 4 là khoảng thời gian chuyển tiếp giữa mùa nóng và</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/04/du-lich-dalat-thang-4-01042023-2.jpg"
                            alt="">
                    </div>
        
                
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/du-lich-da-lat-thang-4.html">Du lịch Đà Lạt tháng 4 đón sắc hoa mùa hè</a></div>
                        <div class="news-desc">Du lịch Đà Lạt tháng 4 có gì đặc biệt, thời gian này thành phố bước vào mùa</div>
                    </div>
                </div>
                
            
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/02/ve-may-bay-di-quoc-te-thang-6.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/gia-ve-may-bay-vietnam-airlines-quoc-te-thang-62017.html"> Giá vé máy bay Vietnam Airlines quốc tế tháng 6</a></div>
                        <div class="news-desc">Các chuyến du lịch quốc tế sẽ giúp bạn khám phá những điều kỳ thú của thế giới xung quanh ta, tìm hiểu được nhiều điều ý nghĩa và bổ sung những kiến thức còn đang thiếu về các điểm tham quan hấp dẫn</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/04/du-lich-phu-quoc-thang-4-05042023-13.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/du-lich-phu-quoc-thang-4.html"> Du lịch Phú Quốc tháng 4, chuyến đi đáng nhớ cho ngày hè rực rỡ</a></div>
                        <div class="news-desc">Du lịch Phú Quốc tháng 4 có gì đặc biệt, thời tiết ra sao, nghỉ dưỡng ở đâu thích hợp và săn vé máy bay đắt hay rẻ? Hãy cùng Vietnam</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/03/da-lat-thang-3-co-gi-dep-08032023-10.jpg"
                            alt="">
                        </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/da-lat-thang-3.html">Đà Lạt tháng 3 có gì đẹp, có vé khuyến mãi? </a> </div>
                        <div class="news-desc">Đà Lạt tháng 3 có gì đẹp, mùa hoa gì đặc trưng nhất và giá vé có nhiều ưu đãi không? Trong bài viết lần này, Vietnam Booking sẽ gợi</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2019/09/ve-may-bay-tet-di-ha-noi-27092019-1.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/goi-y-nhung-diem-den-tai-ha-noi-co-kinh.html"> Gợi ý những điểm đến tại Hà Nội cổ kính</a></div>
                        <div class="news-desc">Vậy là chỉ còn hơn 3 tháng nữa bánh quay thời gian sẽ ngừng lại và một năm mới nữa sẽ đến. Sở hữu tấm vé máy bay Tết đi Hà Nội với giá</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2022/11/ve-may-bay-tet-2023-saigon-di-thanh-hoa-10112022-4.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/ve-may-bay-tet-sai-gon-di-thanh-hoa.html"> Săn ngay vé máy bay Tết 2023 Sài Gòn đi Thanh Hóa, nhiều ưu đãi</a></div>
                        <div class="news-desc">Nhiều chương trình ưu đãi hấp dẫn giúp hành khách tiết kiệm khi săn vé máy bay Tết 2023 Sài Gòn đi Thanh Hóa, nhiều chuyến bay được</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/02/ve-may-bay-tet-2024.jpeg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/gia-ve-may-bay-ngay-30-tet.html"> Giá vé máy bay ngày 30 Tết 2024</a></div>
                        <div class="news-desc">Ngày 30 tháng Chạp là ngày cuối cùng trong năm cũ, khi đa phần mọi người đều quây quần bên gia đình thì đâu đó vẫn có không ít</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2021/01/1512694718.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/du-lich-chu-lai.html"> Kinh nghiệm du lịch Chu Lai Tết Nguyên đán 2024 </a></div>
                        <div class="news-desc">Chu Lai là thủ phủ của huyện Núi Thành, tỉnh Quảng Nam, cũng là cửa ngõ dẫn vào tỉnh Quảng Ngãi. Trong thời kỳ chiến tranh chống</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/02/ve-may-bay-di-quoc-te-thang-6.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href=".vn/tin-tuc/gia-ve-may-bay-vietnam-airlines-quoc-te-thang-62017.html">Giá vé máy bay Vietnam Airlines quốc tế tháng 6</a> </div>
                        <div class="news-desc">Bảng giá vé máy bay Vietnam Airlines quốc tế tháng 6/2019 sẽ giúp bạn có những lựa chọn điểm tham quan thú vị và các giá vé phù hợp</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2021/02/kinh-nghiem-du-lich-nha-trang-tet-nguyen-dan-5-2-2021-2.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/gia-ve-may-bay-mung-4-tet.html">Kinh nghiệm du lịch Nha Trang Tết Nguyên đán 2024</a></div>
                        <div class="news-desc">Du lịch Nha Trang Tết Nguyên đán có gì hấp dẫn, nên tham quan những đâu và ăn gì? Đây là vấn đề nan giải mà không phải ai cũng biết.</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2022/04/dia-diem-dulich-dalat-18042022-44.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/tin-tuc/dia-diem-du-lich-da-lat.html">Top 50+ địa điểm du lịch Đà Lạt gây sốt năm 2023 </a></div>
                        <div class="news-desc">Đà Lạt, thành phố du lịch nổi tiếng nhất Việt Nam, điểm đến được nhiều du khách yêu thích bởi vẻ đẹp lãng mạn, bình yên và không khí trong lành, thời tiết mát mẻ. Bạn đang</div>
                    </div>
                </div>
            </div>
        </div>
        <h1> <br> Thông tin hãng </h1>
        <div class="news">
            <div class="news-container">
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2021/10/dat-ve-may-bay-gia-re-5102021-1.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/san-ve-vietnam-airlines-gia-re.html">Đặt vé máy bay Vietnam Airlines giá rẻ đơn giản, uy tín</a></div>
                        <div class="news-desc">Vietnamairlinesgiare là đại lý vé chính thức của các hãng hàng không Vietnam Airlines, Vietjet Air, Pacific Airlines, Bamboo Airways,</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2021/01/thiet-bi-giai-tri.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/gia-ve-hang-pho-thong-dac-biet-vietnam-airlines.html">Giá vé hạng phổ thông đặc biệt Vietnam Airlines</a> </div>
                        <div class="news-desc">Từ ngày 1-7-2019, hãng hàng không quốc gia Việt Nam (Vietnam Airlines) vừa giới thiệu hạng ghế mới, hạng phổ thông đặc biệt. Hiện nay thị trường di chuyển bằng máy bay có</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2018/05/luu-y-hanh-ly-tren-may-bay-bi-that-lac-11-5-2018-1.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/ho-tro-hanh-ly.html">Hỗ trợ hành lý: Hành Lý Đến Chậm, Hư Hỏng Và Thất Lạc</a></div>
                        <div class="news-desc">Ngoài sở hữu những tấm vé máy bay giá rẻ cho một kỳ nghỉ hứa hẹn nhiều bất ngờ thì thất lạc hành lý cũng là một trong những vấn</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2020/09/di-may-bay-vietnam-airlines-duoc-mang-bao-nhieu-kg-hanh-ly-19-9-2020-3.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/di-may-bay-vietnam-airline-duoc-mang-bao-nhieu-kg-hanh-ly.html"> Đặt vé máy bay từ Tp Hồ Chí Minh đi Đồng Hới giá rẻ</a></div>
                        <div class="news-desc">Hành khách đi máy bay Vietnam Airlines được mang bao nhiêu kg hành lý? Đây là băn khoăn chung của rất nhiều người khi đồng hành</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2021/01/hanh-ly-dac-biet-vietnamairlines-min.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/hanh-ly-dac-biet-vietnam-airlines.html">Hành lý đặc biệt Vietnam Airlines</a></div>
                        <div class="news-desc">Hành lý là yếu tố quan trọng trên mỗi chuyến bay và góp phần vào sự thành công của chuyến bay đó. Có n...</div>
                    </div>
                </div>
                <!--
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2023/04/di-da-lat-mac-gi-thang-4-800x550.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <Du class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/tin-tuc/du-lich-da-lat-thang-4-nen-mac-gi.html">Du lịch Đà Lạt tháng 4 nên mặc gì?Lưu ý gì về thời tiết?</a> </div>
                        <div class="news-desc">Thời tiết Đà Lạt tháng 4 rất dễ chịu và đây cũng là tháng Đà Lạt có nhiều cánh đồng hoa nhất. </div>
                    </div>
                </div>
                -->
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2020/11/xe-buýt-sân-bây-NB-e1604720274327.jpg"
                            alt="">
                    </div>
        
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/xe-bus-vietnam-airline-o-noi-bai.html">Xe bus Vietnam Airline ở Nội Bài
                        </a></div>
                        <div class="news-desc">Vietnam Airlines là hãng hàng không quốc gia Việt Nam luôn đi đầu về chất lượng và dịch vụ. Để chứng tỏ vị trí của mình tro...</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2020/10/mang-ruou-len-tren-may-bay.jpg"
                            alt="">
                    </div>
        
                
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/co-duoc-mang-ruou-len-may-bay-vietnam-airlines-hay-khong.html">Có được mang rượu lên máy bay Vietnam Airlines hay không?
                        </a></div>
                        <div class="news-desc">Trong các chuyến đi du lịch hay đi công tác của mình, nhiều hành khách có sở thích mua rượu về làm quà hoặc bổ sung vào bộ sưu tập</div>
                    </div>
                </div>
                
            
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2020/09/mang-thu-cung-len-may-bay-vietnam-airlines-29-9-2020-1.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"> <a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/mang-thu-cung-len-may-bay-vietnam-airlines.html">Có được mang thú cưng lên máy bay Vietnam Airlines không?</a></div>
                        <div class="news-desc">Thú cưng là vật nuôi được nhiều người yêu mến, nâng niu và mang theo bên cạnh ngay khi cả khi đi máy bay. Vậy có ...</div>
                    </div>
                </div>
              
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2015/03/phong-ve-vietnam-airlines-3.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="">Phòng vé máy bay Vietnam Airlines tại TP. Hồ Chí Minh</a></div>
                        <div class="news-desc">Được đánh giá là hãng hàng không 3 sao theo tiêu chuẩn của Skytrax và là hãng hàng không đầu tiên của Đông Nam Á gia nhập liên minh</div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2015/03/phong-ve-vietnam-airlines-1.jpg"
                            alt="">
                    </div>
                    <div class="news-sub">
                        <div class="new-heading"><a href="https://www.vietnamairlinesgiare.vn/thong-tin-hang/phong-ve-vietnam-airlines-tai-ha-noi.html"></a>Đại lý phòng vé máy bay Vietnam Airlines tại Hà Nội</div>
                        <div class="news-desc">Vietnam Booking là đại lý bán vé máy bay uy tín của Vietnam Airlines tại hà nội – hãng hàng không quốc gia Việt Nam. Với nhiều năm hoạt</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_top">
            <div class="footer_top_col1">
                <div class="footer_logo">
                    <a href=""><img src="../img/logo_nosub.svg" alt=""></a>
                </div>
                <div class="col1_icon">
                    <i style="color: #ffc43b;" class="far fa-clock"></i>
                    <span>Hỗ trợ 24/7 (các ngày trong tuần)</span>
                </div>
                <div class="col1_icon">
                    <i style="color: #ffc43b;" class="fas fa-phone"></i>
                    <span>HOTLINE: 1900 4798</span>
                </div>
                <div class="col1_icon">
                    <i style="color: #ffc43b;" class="far fa-envelope"></i>
                    <span>ttcsn_N1@gmail.com</span>
                </div>
            </div>
            <div class="footer_top_col2">
                <h3>PHÁP LÝ</h3>
                <ul class="col2_text">
                    <li class="col_li_text"><a href="">Điều khoản sử dụng</a></li>
                    <li class="col_li_text"><a href="">Chính sách bảo mật</a></li>
                    <li class="col_li_text"><a href="">Chính sách hoàn hủy</a></li>
                </ul>
            </div>
            <div class="footer_top_col3">
                <h3>HỖ TRỢ</h3>
                <ul class="col2_text">
                    <li class="col_li_text"><a href="">Hướng dẫn liên hệ qua Zalo</a></li>
                    <li class="col_li_text"><a href="">Hướng dẫn liên hệ qua Viber</a></li>
                    <li class="col_li_text"><a href="">Hướng dẫn thanh toán</a></li>
                </ul>
            </div>
            <div class="footer_top_col4">
                <h3>THÔNG TIN HỮU ÍCH</h3>
                <ul class="col2_text">
                    <li class="col_li_text"><a href="">Thông tin hành lý</a></li>
                    <li class="col_li_text"><a href="">Thuế phí, lệ phí và phụ thu</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_betw">
            <div class="footer_betw_col1">
                <div class="bew_col1_tittle">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>HỒ CHÍ MINH</span>
                </div>
                <ul class="col2_text">
                    <li class="col_li_text1"><a href="">190-192 Trần Quý, Phường 6, Quận 11</a></li>
                    <li class="col_li_text1"><a href="">164 Lê Thánh Tôn, Bến Thành, Quận 1</a></li>
                    <li class="col_li_text1"><a href="">54 Phạm Hồng Thái, Bến Thành, Quận 1</a></li>
                </ul>
            </div>
            <div class="footer_betw_col2">
                <div class="bew_col1_tittle">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>HÀ NỘI</span>
                    <div class="betw_col2_text">
                        <span>30 Phan Chu Trinh, Quận Hoàn Kiếm</span>
                    </div>
                </div>
            </div>
            <div class="footer_betw_col3">
                <div class="bew_col1_tittle">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>ĐÀ NẴNG</span>
                    <div class="betw_col2_text">
                        <span>174 Nguyễn Văn Linh, Quận Thanh Khê</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_bottom_col">
                <div class="bottom_col1_tittle">
                    <h4>THEO DÕI CHÚNG TÔI</h4>
                </div>
                <div class="social_media">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer_bottom_col">
                <div class="bottom_col1_tittle">
                    <h4>TẢI VIETNAM AIRLINES</h4>
                </div>
                <div class="download">
                    <a href=""><img src="../img/google-play-icon.svg" alt=""></a>
                    <a href=""><img src="../img/app-store-icon.png" alt=""></a>
                </div>
            </div>
            <div class="footer_bottom_col">
                <div class="bottom_col1_tittle">
                    <h4>GIẢI THƯỞNG</h4>
                </div>
                <div class="prize">
                    <a href=""><img src="../img/award-1.png" alt=""></a>
                    <a href=""><img src="../img/award-2.png" alt=""></a>
                    <a href=""><img src="../img/award-3.png" alt=""></a>
                </div>
            </div>
        </div>
        <hr>
        <!-- <span>@ 2020 Copyright All Rights Reserved. - Công Ty Cổ Phần Việt Nam Booking - Mã số thuế: 0308042348
            Người phụ trách nội dung: Châu Hoài Dung - Trưởng Ban Biên Tập - Email: bientap@vietnambooking.com</span> -->
    </footer>
</body>

</html>