<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeCart</title>
    <!-- link file css -->
    <link rel="stylesheet" href="/css/homeCart.css">
</head>

<body>
    <h1 class="text-center text-muted">Product catalog</h1>
    <div class="container bootstrap snipets custom_container">
        <div class="row flow-offset-1 custom_container">
            <div class="col-xs-6 col-md-4">
                <div class="product tumbnail thumbnail-3">
                    <a href="#"><img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt=""></a>
                    <div class="caption">
                        <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                  <del>$24.99</del></span><span class="price sale">$12.49</span>
                  <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-4">
                <div class="product tumbnail thumbnail-3">
                    <a href="#"><img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt=""></a>
                    <div class="caption">
                        <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                  <del>$24.99</del></span><span class="price sale">$12.49</span>
                  <button type="button" class="btn btn-primary">Add</button>
                </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="product tumbnail thumbnail-3">
                    <a href="#"><img src="https://via.placeholder.com/350x280/FFB6C1/000000" alt=""></a>
                    <div class="caption">
                        <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                  <del>$24.99</del></span><span class="price sale">$12.49</span>
                  <button type="button" class="btn btn-primary">Add</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>